@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
#navbar{
    width:  20%;
    background-color: aliceblue;
    padding: 1%;
    border: 3px solid black;
   
    overflow-y: auto;
    font-family: 'Fira Code', monospace;
}
#main-doc{
    width:  80%;
    background-color: aqua;
    
    border: 3px solid rgb(176, 0, 0);
    padding: 1%;
}

body{
    display: flex;
}

#navbar ul li a:visited{
    color: black;
    text-decoration: none;
}
#navbar ul{
    color: black;
    text-decoration: none;
    border-top: 1px solid black;
}